<div class="flex justify-center p-2 sm:flex-col md:flex-col lg:flex-row h-[100vh]">
    <!-- <div class="items-center justify-center hidden lg:flex mb-4">
        <button (click)="prevPage()" class="border p-2 text-white hover:text-black hover:bg-white font-semibold">PREV</button>
    </div> -->
    <div class="flex flex-col items-center justify-center w-full lg:w-9/12 gap-5">
        <h1 class="text-white text-[1.3rem] font-semibold">MoVid - ©Axios</h1>
        <div class="flex items-center justify-center">
            <input type="text" [(ngModel)]="searchQuery" (input)="searchMovies()" class="p-2 border rounded-md" placeholder="Search movies...">
        </div>
        
        <div *ngIf="!isLoading && filteredMovies.length === 0 && searchQuery.trim() !== ''">
            <p style="color: white; text-align: center">No movies found.</p>
        </div>
        <div *ngIf="isLoading" class="text-white">Fetching movies...</div>
        <div *ngIf="!isLoading && (filteredMovies.length > 0 || searchQuery.trim() === '')" class="lg:overflow-x-hidden flex justify-center md:w-10/12 lg:w-full overflow-y-auto">
            <table class="movie-table m-0">
                <thead>
                    <tr>
                        <th class="w-[75%]">TITLE</th>
                        <!-- <th>IMDB ID</th> -->
                        <th>LINK</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of filteredMovies">
                        <td class="text-center">{{ movie.title }}</td>
                        <!-- <td class="text-center">{{ movie.imdb_id }}</td> -->
                        <td class="text-center">
                            <a [routerLink]="['/video-player', movie.embed_url_imdb, movie.title]" class="text-[blanchedalmond] hover:text-[red] text-nowrap">Play Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="flex items-center justify-center gap-5">
            <!-- <div class="items-center justify-center flex lg:hidden">
                <button (click)="prevPage()" class="border p-2 text-white hover:text-black hover:bg-white font-semibold">PREV</button>
            </div> -->
            <!-- <span class="text-white font-semibold mt-1">Page - {{ currentPage }}</span> -->
            <!-- <div class="items-center justify-center flex lg:hidden">
                <button (click)="nextPage()" class="border p-2 text-white hover:text-black hover:bg-white font-semibold">NEXT</button>
            </div> -->
        </div>
    </div>
    <!-- <div class="items-center justify-center hidden lg:flex mt-4">
        <button (click)="nextPage()" class="border p-2 text-white hover:text-black hover:bg-white font-semibold">NEXT</button>
    </div> -->
</div>
