.movie-table {
    border-collapse: collapse;
    width: 80%;
  }
  
  .movie-table th, .movie-table td {
    border: 1px solid white;
    padding: 8px;
  }
  
  .movie-table th {
    background-color: #333;
    color: white;
  }
  
  .movie-table tr {
    background-color: #5c5c5c;
    color: white;
  }
  
  /* Custom scrollbar style */
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
